service: <%= ENV['PROJECT_NAME'] %>-py

deploy_timeout: 180

image: <%= ENV['DOCKER_HUB_USERNAME'] %>/<%= ENV['PROJECT_NAME'] %>-py

servers:
  web:
    - "<%= ENV['SERVER_IP'].strip %>"
  worker:
    hosts:
      - "<%= ENV['SERVER_IP'].strip %>"
    cmd: "bash -c 'cd /app/apps/py-app && uv run taskiq worker src.tasks:broker --max-async-tasks 5'"
    proxy: false
  scheduler:
    hosts:
      - "<%= ENV['SERVER_IP'].strip %>"
    cmd: "bash -c 'cd /app/apps/py-app && uv run taskiq scheduler src.tasks.scheduler:scheduler'"
    proxy: false

ssh:
  user: root
  keys: ["<%= ENV['SSH_PRIVATE_KEY_FILE'] %>"]

registry:
  username: <%= ENV['DOCKER_HUB_USERNAME'] %>
  password:
    - DOCKER_HUB_TOKEN

builder:
  dockerfile: py/Dockerfile
  context: "."
  arch: amd64

proxy:
  ssl: true
  host: <%= ENV['HOST_NAME'] %>
  app_port: 8000
  healthcheck:
    path: /_status/livez

env:
  clear:
    POSTGRES_URL: postgresql://postgres:postgres@<%= ENV['PROJECT_NAME'] %>-py-postgres:5432/postgres
    REDIS_URL: redis://<%= ENV['PROJECT_NAME'] %>-py-redis:6379
    # TODO (amiller68): this env is closer to DOMAIN_NAME in practice,
    #  since i have to add the scheme here
    HOST_NAME: https://<%= ENV['HOST_NAME'] %>
    DEBUG: false
  secret:
    - GOOGLE_O_AUTH_CLIENT_ID
    - GOOGLE_O_AUTH_CLIENT_SECRET
    - ANTHROPIC_API_KEY

accessories:
  postgres:
    image: postgres:17-alpine
    host: "<%= ENV['SERVER_IP'].strip %>"
    port: "5432:5432"
    env:
      clear:
        POSTGRES_DB: postgres
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
    directories:
      - postgres-data:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
    host: "<%= ENV['SERVER_IP'].strip %>"
    port: "6379:6379"
    cmd: redis-server --appendonly yes
    directories:
      - redis-data:/data
